[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "danlex"]
	path = danlex
	url = https://github.com/kristianvepsalainen/danlex
[submodule "finlex"]
	path = finlex
	url = https://github.com/kristianvepsalainen/finlex
[submodule "swelex"]
	path = swelex
	url = https://github.com/kristianvepsalainen/swelex
